.footer {
    background-color: #8fcdb4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
}

.footer .box {
    max-width: 200px;
    margin: 20px;
}

.footer .box3 p{
    font-size: .7em;
}

.footer .box4 p {
    word-wrap: break-word;   /* Break long words onto the next line */
    overflow-wrap: break-word; /* Alternative for better compatibility */
    white-space: normal;     /* Allow text to wrap */
    max-width: 100%;         /* Ensure it does not exceed the container */
}
