.footer {
    background-color: #90afc4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    padding-top: 40px;
    font-size: 1.2em;
    align-items: stretch;
}

.footer .box {
    max-width: 200px;
    margin: 4%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
    min-height: 220px;
    flex: 1 1 230px;
}
.footer .box p{
    font-size: .8em;
}

.footer .box button {
    max-width: 100%;
    max-height: 20%;
    font-size: .7em;
    padding: 7px;
}

.footer .box3 p {
    font-size: .7em;
}

.footer .box .style {
    font-size: 1.6em;
    color: white; /* Makes dots white */
    letter-spacing: 10px; /* Spaces them out evenly */
    text-align: left; /* Ensures they are centered */
    display: block; /* Ensures it takes full width */
}

.footer .box .social-holder img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit:contain;
}

.footer .box .style2 img{
    width: 150px;
    height: 50px;
    overflow: hidden;
    object-fit: contain;
    transform: translateX(-6px);
}

.footer .box2 a{
    color: rgb(39, 39, 255);
    transition: color 0.3s ease-in-out;
}

.footer .box2 a {
    text-decoration: none;
}
.footer .box2 a:active{
    color: rgb(209, 3, 3); /* Changes to red when clicked */
}

.footer .box2 a:visited {
    color: purple; /* Color remains changed after clicking */
}

.footer .box1 img {
    max-width: 180px;
}
.footer .box1 {
    max-width: 220px;
}

.footer #footerColor a {
    color: rgb(26, 26, 26);
    font-size: .9em;
}
.footer #footerColor a:visited {
    color: rgb(75, 5, 75); /* Color remains changed after clicking */
}

.footer .box #started {
    background-color: #5a6374;
    border-color:#4c5361;
}

.footer .box #started:hover {
    background-color: #454c59;
}


@media (max-width: 1210px){
    .footer .box {
        max-width: 150px;
        margin: 3%;
    }
}

@media (max-width: 820px){
    .footer .box {
        max-width: 230px;
        margin: 4%;
    }
}
