.section6{
    text-align: center;
    background-color: #8096ab;
    padding: 100px 0;
    padding-bottom: 150px;
}

.section6 h2 {
    padding-bottom: 70px;
    font-family:'Dancing Script', cursive;
    font-size: clamp(2.5rem, 5vw, 4rem);
}

.section6 .containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.section6 .box {
    width: 35%;
    min-width: 330px;
    margin: 10px 30px;
    background-color: white;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section6 .box img {
     width: 50%;
     height: 50%;
     max-height: 100px;
     max-width: 150px;
     
}

.section6 a {
    color: blue;
    transition: color 0.3s ease-in-out;
}

.section6 a:active {
    color: rgb(209, 3, 3); /* Changes to red when clicked */
}

.section6 :visited {
    color: purple; /* Color remains changed after clicking */
}