.section6{
    text-align: center;
    background-color: #8fcdb4;
    padding: 100px 0;
    padding-bottom: 150px;
}

.section6 h2 {
    padding-bottom: 70px;
}

.section6 .containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  
}

.section6 .box {
    width: 35%;
    min-width: 400px;
    margin: 10px 30px;
    background-color: white;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.section6 .box img {
     width: 50%;
     height: 50%;
     max-height: 100px;
     max-width: 150px;
     
}