
.section22 {
    background-color: #8096ab;
    overflow: hidden;
}

.section22 .top {
    padding-top: 40px;
    font-family: 'Great Vibes', cursive;
    font-size: clamp(1.5rem, 3vw, 2.3rem);
    color: #3b3b3b;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
.section22 .top::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    border-bottom: 2px solid #a3b18a;
}


.section22 .container1 {
    display: flex;
    justify-content: center;
    background-color: #8096ab ;
    padding: 50px 40px;
    font-size: large;
    align-items: center;
    padding-top: 40px;
    font-size: clamp(1rem, 2vw, 1.4rem);
    color: #3b3b3b;
    
}

.section22 .container1 .text {
    padding-right: 30px;
}


.section22 .container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    justify-items: center;
    padding-bottom: 80px;
}

.section22 .container3 .box {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
    cursor: pointer;
    display: block; /* make <a> behave like block element */
    text-decoration: none;
}

.section22 .container3 .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.section22 .container3 .box p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.section22 .container3 .box:hover {
    transform: scale(1.03);
}

.section22 .container3 .box:hover img {
    filter: brightness(85%);
}

.section22 .container3 .box:hover p {
    opacity: 1;
}


/* Medium screens: 2 per row */
@media (max-width: 900px) {
    .section22 .container3 {
        grid-template-columns: repeat(2, 1fr);
    }
    .section22 .top {
        margin-top: 20px;
    }
}

/* Small screens: 1 per row */
@media (max-width: 700px) {
    .section22 .container3 {
        grid-template-columns: 1fr;
    }
}
