
/* Container Style */
.section11 {
    width: 100%;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(239, 250, 236);
}

.title {
    max-width: 1200px;
    padding: 20px;
    
    border-radius: 8px;
    
}

.section11 h1,
.section11 h3,
.section11 p {
    margin-bottom: 20px;
    padding: 5px 0px;
}

.section11 h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    font-size: clamp(2.5rem, 5vw, 4rem);
    color: #3b3b3b;
}
.section11 h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: clamp(1.2rem, 2vw, 1.6rem);
    color: #3b3b3b;
}

.section11 p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: #3b3b3b;
}

/* Responsive behavior */
@media screen and (max-width: 600px) {
    .section11 {
        padding: 15px;
    }

    .title {
        padding: 10px;
    }
}
