.section2 .title1{
    text-align: center;
   padding: 100px;
   padding-bottom: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #98b4ce ;
   font-size: 1.2em;
}
.section2 .title1 p {
    text-align: center;
    max-width: 80%;
    font-size: 1.2em;
}
.section2 .title1 h2 {
    width: 100%;
    min-width: 370px;
}

.section2 {
    background-color: #ebf1f5;
}


.section2 .container1 {
    display: flex;
    justify-content: center;
    background-color: #ebf1f5 ;
    padding: 50px 40px;
    font-size: large;
    align-items: center;
}

.section2 .container1 .text {
    padding-right: 30px;
}


.section2 .container3 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    overflow: visible;
    padding-bottom: 70px;
}

.section2 .services-offered .title-services{
    font-size: 2em;
}

.section2 .services-offered .info {
    font-size: 1.3em;
}

.section2 .container3 .background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section2 .container3 .box {
    background-color: #ebf1f5;
    padding: 15px;
   
    margin: 20px;
    max-width: 400px;
    min-width: 280px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .container3 .box p {
    display: none; /* Hide text initially */
    max-height: 200px; /* Limit height to avoid excessive expansion */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Add some space for scrollbar */
    transition: max-height 0.3s ease-in-out;
}



.section2 .container3 .box.active p {
    display: block;
    max-height: 500px; /* Large enough to fit the text */
}

.section2 .sub1, .section2 .sub2, .section2 .sub3 {
    min-width: 280px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
    max-width: 400px;
    padding-top: 30px;
    font-size: 1.2em;
}

.section2 .sub1 img, .section2 .sub2 img, .section2 .sub3 img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    overflow: hidden;
}

.section2 .sub1:hover, .section2 .sub2:hover, .section2 .sub3:hover {
    transform: scale(1.05);
}


.section2 p {
    text-align: left;
}

.section2 .services-offered {
    padding: 70px;
    text-align: center;
    background-color: #8096ab;
    padding-bottom: 80px;
}

.section2 .services-offered .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.section2 .services-offered .service-item {
    position: relative;
    margin: 10px;
}

.section2 .services-offered img {
    width: 25%;
    height: 18%;
    object-fit: cover;
    min-height: 220px;
    min-width: 260px;
    max-height: 25px;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;
}

.section2 .services-offered p {
    text-align: center;
    padding: 40px;
}

.section2 .services-offered img:hover {
    transform: scale(1.05);
}

.section2 .text1, .section2 .text2, .section2 .text3 {
    position: absolute;

    visibility: hidden; /* Initially hidden */
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.95); /* Black background for the info box */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Slight shadow for depth */
    width: 30vw; /* Adjust width as needed */
    min-width: 350px;
    z-index: 5;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the div */
}

.section2 .text1 {
    top: -80px; /* Text above the image */
}

.section2 .text2 {
    top: -80px; /* Text above the image */
}

.section2 .text3 {
    top: -80px; /* Text above the image */
}

.section2 .service-item:hover .text1,
.section2 .service-item:hover .text2,
.section2 .service-item:hover .text3 {
    visibility: visible;
}

.section2 .info{
    position: relative;
    top: -30px;
    font-size: large;
}

.section2 .text ol {
   padding-left: 20px;
}

.section2 .services-offered .text p {
    text-align: left; /* Override center alignment */
    padding: 0;
}
.section2 .services-offered .text ol{
    font-weight: 100;
    text-align: left;
}

.section2 .services-offered .text .small{
    font-weight: 100;
}

.section2 .services-offered .text .bold {
    font-weight: 700;
}
.section2 .services-offered .text ol ul {
    list-style-type:disc;
    padding-left: 20px;
}
.section2 .services-offered .text ol ul .circle {
    list-style-type:circle;
}
